.container{
  margin: 0;
  padding: 0;
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
}

#headerId{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  max-height: 100px;
  background-color: #0e1e27;
  /* background: linear-gradient(45deg, black, #1f8c89); */
  z-index: 9;
}

#musicListDiv{
  position: absolute;
  /* top: 110px; */
  /* max-height: 600px; */
  width: 100%;
  margin-top: 70px;
  margin-bottom: 180px;
  overflow: auto;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

#musicPlayer{
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0e1e27;
  /* background: linear-gradient(45deg, black, #1f8c89); */
  /* max-height: 180px; */
}

#settingID{
  position: absolute;
  right: 0;
  top: 0;
}

#scanMusicDiv{
  z-index: 9;
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: #0d1925;
  height: 150px;
  padding: 20px;
  border-radius: 20px;
  visibility: hidden;
}

#settingID:hover{
  background-color: #ffffff3b;
  border-radius: 100px;
  z-index: 99;
}

#scanMusicDiv > i:hover{
  background-color: #ffffff3b;
  border-radius: 100px;
  z-index: 9;
}

#scanMusicDiv label, #scanMusicDiv input, #scanMusicDiv button{
  margin: 10px;
}

#exitSettingsID{
  position: absolute;
  right: 5px;
  top: 10px;
}

#musicPlayerInfoDiv{
  width: 95%;
  display: grid;
  place-items: center;
  font-family: monospace;
  font-size: 18px;
}

#audioControlsDiv{
  display: grid;
  place-items: center;
  margin: 5px;
}

/* input{
  border-radius: 5px;
} */

audio{
  width: 100%;
}

button{
  background-color: #252020;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  margin-right: 10px;
}

body{
  background-color: #050f15;
  color: white;
  margin: 0;
  padding: 0;
}

span > a:hover{
  background-color: #ffffff3b;
  border-radius: 100px;
  z-index: 9;
  max-width: 50px;
  max-height: 50px;
}

span > a{
  display: inline-block;
  margin-left: 20px;
}

ul{
  list-style-type: none;
  max-width: 1000px;
}

li > a:hover {
  background-color: #e9ff768a;
}

li{
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 1px 1px 2px black;
}

li:nth-child(even){
  background-color: rgb(8, 31, 45);
  /* background-color: #80808075; */
}

li:nth-child(odd){
  background-color: rgb(12, 57, 84);
  /* background-color: #80808052; */
}

/*  */
/* style audio player */
/*  */
audio::-webkit-media-controls-panel{
  background-color: #193544;
  /* background: linear-gradient(45deg, black, #1f8c89); */
  border-color: black;
}

audio::-webkit-media-controls-play-button{
  visibility: hidden;
}

audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display{
  color: #3282b8;
  text-shadow: none;
}

audio::-webkit-media-controls-mute-button{
  color: #3282b8;
  /* background-color: #3282b8; */
  border-color: #3282b8;
}

audio::-webkit-media-controls-timeline{
  color: #3282b8;
  /* background-color: #3282b8; */
  border-color: #3282b8;
}

audio::-webkit-media-controls-volume-slider{
  color: #3282b8;
  /* background-color: #3282b8; */
  border-color: #3282b8;
}

/*  */
/* style scrollbar*/
/*  */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #050f1500;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}